.popular-subreddits-container {
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  margin: 0 40px 20px 20px;
}

.popular-subreddits-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  font: bold 24px sans-serif;
}

.popular-subreddit {
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.popular-subreddit:last-child {
  border-bottom: 0;
}

.popular-subreddit:hover {
  background: rgba(0, 0, 0, 0.05);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
