.popular-subreddits-container {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 40px;
}

.popular-subreddits-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.popular-subreddits-header h2 {
  font-size: 24px;
  font-weight: bold;
}

.popular-subreddit {
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.popular-subreddit:last-child {
  border-bottom: none;
}

.popular-subreddit:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
